<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>What is the weather ?</title>
</head>

<body>
  <form method="post">
    <input type="text" placeholder="City Name">
    <button type="button" name="button">Add City</button>
  </form>
  <figure>
    <img src="http://openweathermap.org/img/w/10d.png" alt="Image">
  </figure>
  <div class="content">
    <p>
      <span>Las Vegas</span><br>
      <span>29C</span><br>
      thunderstorm with heavy rain
    </p>
  </div>
</body>
